absl-py @ file:///D:/bld/absl-py_1606235631785/work
affine==2.3.0
aiohttp @ file:///D:/bld/aiohttp_1605734736785/work
antlr4-python3-runtime==4.7.2
argon2-cffi @ file:///D:/bld/argon2-cffi_1596630110014/work
asgiref==3.2.7
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
Automat==20.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
branca==0.4.1
brotlipy==0.7.0
cached-property==1.5.1
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
Cartopy @ file:///D:/bld/cartopy_1608577867225/work
casadi==3.5.5
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1600276624154/work
cftime==1.2.1
chardet @ file:///D:/bld/chardet_1600358759938/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
colorama==0.4.3
comtypes==1.1.8
conda==4.9.2
conda-package-handling @ file:///D:/bld/conda-package-handling_1600353891882/work
constantly==15.1.0
cryptography @ file:///D:/bld/cryptography_1598621309630/work
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
diversipy==0.8
Django==3.0.6
docx2txt==0.8
doepy==0.0.1
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1608055949279/work
entrypoints==0.3
fake-useragent==0.1.11
Fiona==1.8.18
folium==0.11.0
future @ file:///D:/bld/future_1602538577781/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
GDAL==3.1.4
geehydro==0.2.0
geetools==0.6.7
geopandas==0.8.1
gevent==20.5.0
google-api-core @ file:///D:/bld/google-api-core-split_1599169078462/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1605727368232/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1608136875028/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1601483325475/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1608136972897/work
google-cloud-storage==1.19.0
google-crc32c @ file:///D:/bld/google-crc32c_1608138565945/work
google-pasta==0.2.0
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1608141079349/work
googleapis-common-protos @ file:///D:/bld/googleapis-common-protos-feedstock_1604414969165/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1605462368198/work
greenlet==0.4.15
grequests==0.6.0
grpcio @ file:///D:/bld/grpcio_1607005352833/work
gTTS==2.2.1
gTTS-token==1.1.4
h5py @ file:///D:/bld/h5py_1604753757907/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1590007784658/work
httplib2shim==0.0.3
hyperlink==19.0.0
hystats==0.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1593211612489/work
incremental==17.5.0
ipykernel @ file:///D:/bld/ipykernel_1595447157738/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1598750239682/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
jedi @ file:///D:/bld/jedi_1595018503144/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver @ file:///D:/bld/kiwisolver_1604246064206/work
lxml==4.5.1
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1595925083607/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1603668500820/work
MarkupSafe @ file:///D:/bld/markupsafe_1600368487166/work
matplotlib @ file:///D:/bld/matplotlib-suite_1602600992856/work
menuinst==1.4.16
mistune==0.8.4
mkl-service==2.3.0
mock @ file:///D:/bld/mock_1602395119602/work
multidict @ file:///D:/bld/multidict_1607973263002/work
munch==2.5.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1598558657104/work
nbconvert @ file:///D:/bld/nbconvert_1600869883862/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1600716022894/work
netCDF4==1.5.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
notebook @ file:///D:/bld/notebook_1599742596731/work
numexpr @ file:///D:/bld/numexpr_1602669950074/work
numpy @ file:///D:/bld/numpy_1597938567428/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///D:/bld/pandas_1604166721606/work
pandocfilters==1.4.2
parsel==1.6.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
patsy==0.5.1
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1603406833950/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
Protego==0.1.16
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///D:/bld/pycosat_1600366928699/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyDispatcher==2.0.5
pyDOE==0.3.8
pyDOE2==1.3.0
pydot==1.4.1
pyepsg==0.4.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pygpu==0.7.6
PyHamcrest==2.0.2
pymoca==0.7.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pypiwin32==223
pyproj==3.0.0.post1
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyreadline @ file:///D:/bld/pyreadline_1602253143868/work
pyrsistent @ file:///D:/bld/pyrsistent_1599988498407/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1599782465740/work
PySocks==1.7.1
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pywr @ file:///D:/bld/pywr_1604246576396/work
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
queuelib==1.5.0
rasterio==1.1.8
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
rpy2 @ file:///D:/bld/rpy2_1588971907231/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1591996208734/work
rtc-tools==2.4.2
rtc-tools-channel-flow==1.1.0
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1598972574949/work
scikit-learn @ file:///D:/bld/scikit-learn_1596546337481/work
scipy @ file:///C:/ci/scipy_1597686737426/work
Scrapy==2.1.0
seaborn==0.11.1
Send2Trash==1.5.0
service-identity==18.1.0
Shapely==1.7.1
simplegeneric==0.8.1
simplejson @ file:///D:/bld/simplejson_1607639891017/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
snuggs==1.4.7
soupsieve==2.0.1
sqlparse==0.3.1
statsmodels==0.12.2
tables==3.6.1
tensorboard==1.14.0
tensorflow @ file:///D:/bld/tensorflow_1594833538462/work/tensorflow-1.14.0-cp37-cp37m-win_amd64.whl
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1600709850780/work
testpath==0.4.4
Theano @ file:///D:/bld/theano_1604228796430/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1599956693194/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1599471676085/work
Twisted==20.3.0
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1588939190034/work
uritemplate==3.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
w3lib==1.22.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1594164533747/work
win-inet-pton==1.1.0
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1606141458267/work
xarray==0.16.1
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
yarl @ file:///D:/bld/yarl_1605429655746/work
zipp==3.1.0
zope.interface==5.1.0
